.formWrapper {
  composes: centerForm from "../../styles/compose.module.css";
}

.title {
  composes: title from "../../styles/compose.module.css";
}

.err {
  composes: err from "../../styles/compose.module.css";
}
