.flexContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loading {
  opacity: 20%;
}

.header {
  border-bottom: 1.5px solid #000;
  background-color: #44b0b3;
}

.header,
.main {
  padding: 1rem;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .header,
  .main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
