.mainWrapper {
  max-width: 68.75rem;
  margin: 0 auto;
  width: 100%;
}

.title {
  composes: title from "../../styles/compose.module.css";
}

.postContainer {
  composes: postList from "../../styles/compose.module.css";
}

.postLink {
  composes: postLink from "../../styles/compose.module.css";
}
