.card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.5rem;
}

.dateText {
  font-size: 0.8125rem;
  font-style: italic;
  color: #565656;
}

.pub,
.notPub {
  font-size: 0.8125rem;
}

.pub {
  color: #087200;
}

.notPub {
  color: #8a0b0b;
}
